* {
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura da viewport */
}

body {
    display: flex;
    flex-direction: column; /* Coloca os filhos em coluna */
    font-family: Arial, sans-serif;
    background-color: #09005a; /* Cor de fundo */
}

#header {
    border-radius: 8px;
    width: 900px;
    background-color: #333;
    padding: 15px 0;
    text-align: center;
    z-index: 2; /* Garante que o menu fique sobre outros elementos */
}

#nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#nav li {
    margin: 0 15px;
}

#nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

#nav a:hover {
    background-color: #FF0000;
    color: #fff;
}

.container {
    width: 900px;
    padding: 20px;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    flex: 1; /* Faz com que o contêiner ocupe o espaço disponível */
    display: flex; /* Usando flexbox */
    flex-wrap: wrap; /* Permite que as medalhas se movam para a linha seguinte */
    justify-content: center; /* Centraliza as medalhas */

}

.athlete-info {
    display: flex;
    gap: 18px;
    align-items: flex-start; /* Muda para flex-start para que a imagem fique alinhada ao topo */
}

.athlete-image {
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(2, 0, 146, 0.589);
    height: 350px;
    margin: 10px;
    flex-shrink: 0; /* Impede que a imagem encolha */
}

.athlete-text {
    flex: 1; /* Faz o texto ocupar o espaço restante */
    display: flex; /* Opcional, para alinhar o conteúdo interno */
    flex-direction: column; /* Alinha o conteúdo do texto verticalmente */
    justify-content: center; /* Centraliza o texto verticalmente */
}

.info {
    max-width: 500px;
}

.info h2 {
    margin-top: 4;
}

.info p {
    line-height: 1.6;
    color: #001155;
    font-size: 19px;
}

.um {
    color: #333;
}

footer {
    width: 900px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 0.9em;
    border-radius: 10px;
    margin-top: 10px;
}

.medalha {
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: white;
    width: 200px; /* Largura fixa do elemento */
}

.medalha:hover {
    transform: scale(1.1);
    border-color: #007BFF;
}

.medalha img {
    width: 100%; /* Ajusta a largura para 100% do contêiner */
    height: 100px; /* Altura fixa da imagem */
    object-fit: cover; /* Cobre o espaço disponível */
}

.competicao {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

textarea {
    resize: none;
}

@media screen and (min-width:330px) and (max-width:480px){
    body, div{}
  #footer { margin-left:0px;}
  }
  
  @media screen and (min-width:768px) and (max-width:1024px){/*ipad*/
    body, div{}
    #footer { margin-left:0px;}		
  }	
  
  @media screen and (min-width:820px) and (max-width:1190px){
    body, div{}
  #footer { margin-left:10px;}
  }
  
  @media screen and (min-width:1024px) and (max-height:1366px){/*ipad-PRO*/
    #footer { margin-left:110px; margin-top: 10px;}		
  }	
  
  @media screen and (min-width:1280px) and (min-height:800px){
  #footer { margin-left:240px;}
  }
